*, *::before, *::after {
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --text-color: #000;
  --background-color: #fff;
  --sidebar-color: #fafbfd;
  --navlink-color: #545454;
  --toggle-shadow: rgba(0, 0, 0, 0.7);
  --toggle-background: var(--sidebar-color);

  --main-text-color: #656565;
  --main-heading-color: #000;

  
  --border-color: #595959;
  --border-color-hover: #333333;
  --border-color-focus: #2962ff;

  --error-hover-color: #333;
  --error-focus-color: #d32f2f;
  --error-color: #A22F2F;

  --disabled-color: #595959;
  --disabled-hover-color: #333;
  --disabled-focus-color: #2962ff;
  
  /* Dark colors */
  --dark-text-color: #fff;
  --dark-background-color: #000;
  --dark-sidebar-color: #121212;
  --dark-navlink-color: #9f9f9f;
  --dark-toggle-shadow: rgba(255, 255, 255, 0.3);
  --dark-toggle-background: #656565ab;

  --dark-main-text-color: #c7c7c7;
  --dark-main-heading-color: #f7f2f2;

  --dark-border-color: #969696ff;
  --dark-border-color-hover: #c3bebe;
  --dark-border-color-focus: #6991ff;

  --dark-error-hover-color: #979191;
  --dark-error-focus-color: #E48181;
  --dark-error-color: #ff6060;

  --dark-disabled-color: #969696ff;
  --dark-disabled-hover-color: #333;
  --dark-disabled-focus-color: #2962FF;
}

@media (prefers-color-scheme: dark) {
  :root:not([color-scheme=light]) {
    color-scheme: dark;
    --text-color: var(--dark-text-color);
    --background-color: var(--dark-background-color);
    --sidebar-color: var(--dark-sidebar-color);
    --navlink-color: var(--dark-navlink-color);
    --toggle-shadow: var(--dark-toggle-shadow);
    --toggle-background: var(--dark-toggle-background);

    --main-text-color: var(--dark-main-text-color);
    --main-heading-color: var(--dark-main-heading-color);

    --border-color: var(--dark-border-color);
    --border-color-hover: var(--dark-border-color-hover);
    --border-color-focus: var(--dark-border-color-focus);
  
    --error-hover-color: var(--dark-error-hover-color);
    --error-focus-color: var(--dark-error-focus-color);
    --error-color: var(--dark-error-color);
  
    --disabled-color: var(--dark-disabled-color);
    --disabled-hover-color: var(--dark-disabled-hover-color);
    --disabled-focus-color: var(--dark-disabled-focus-color);
  }
}

[color-scheme='dark'] {
  color-scheme: dark;
  --text-color: var(--dark-text-color);
  --background-color: var(--dark-background-color);
  --sidebar-color: var(--dark-sidebar-color);
  --navlink-color: var(--dark-navlink-color);
  --toggle-shadow: var(--dark-toggle-shadow);
  --toggle-background: var(--dark-toggle-background);

  --main-text-color: var(--dark-main-text-color);
  --main-heading-color: var(--dark-main-heading-color);

  --border-color: var(--dark-border-color);
  --border-color-hover: var(--dark-border-color-hover);
  --border-color-focus: var(--dark-border-color-focus);

  --error-hover-color: var(--dark-error-hover-color);
  --error-focus-color: var(--dark-error-focus-color);
  --error-color: var(--dark-error-color);

  --disabled-color: var(--dark-disabled-color);
  --disabled-hover-color: var(--dark-disabled-hover-color);
  --disabled-focus-color: var(--dark-disabled-focus-color);
}
