*, *::before, *::after {
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --text-color: #000;
  --background-color: #fff;
  --sidebar-color: #fafbfd;
  --navlink-color: #9e9e9e;
  --toggle-shadow: rgba(0, 0, 0, 0.7);
  --toggle-background: var(--sidebar-color);

  --main-text-color: #656565;
  --main-heading-color: #000;

  
  --border-color: #828282;
  --border-color-hover: #333333;
  --border-color-focus: #2962ff;

  --error-hover-color: #333;
  --error-focus-color: #d32f2f;
  --error-color: #d84949;

  --disabled-color: #828282;
  --disabled-hover-color: #333;
  --disabled-focus-color: #2962ff;
}

@media (prefers-color-scheme: dark) {
  :root:not([color-scheme=light]) {
    color-scheme: dark;
    --text-color: #fff;
    --background-color: #000;
    --sidebar-color: #121212;
    --navlink-color: #726b6b;
    --toggle-shadow: rgba(255, 255, 255, 0.3);
    --toggle-background: #656565ab;

    --main-text-color: #c7c7c7;
    --main-heading-color: #f7f2f2;

    --border-color: #828282;
    --border-color-hover: #c3bebe;
    --border-color-focus: #4a73e5;
  
    --error-hover-color: #979191;
    --error-focus-color: #d32f2f;
    --error-color: #d84949;
  
    --disabled-color: #828282;
    --disabled-hover-color: #333;
    --disabled-focus-color: #2962FF;
  }
}

[color-scheme='dark'] {
  color-scheme: dark;
  --text-color: #fff;
  --background-color: #000;
  --sidebar-color: #121212;
  --navlink-color: #726b6b;
  --toggle-shadow: rgba(255, 255, 255, 0.3);
  --toggle-background: #656565ab;

  --main-text-color: #c7c7c7;
  --main-heading-color: #f7f2f2;

  --border-color: #828282;
  --border-color-hover: #c3bebe;
  --border-color-focus: #4a73e5;

  --error-hover-color: #979191;
  --error-focus-color: #d32f2f;
  --error-color: #d84949;

  --disabled-color: #828282;
  --disabled-hover-color: #333;
  --disabled-focus-color: #2962FF;
}
